/* All text Helvetica/Arial + background image */
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("bg.jpg");
  background-repeat: repeat;
  line-height: 1.6;
}

/* Headings: orange, italic, normal weight */
h1, h2, h3, h4, h5, h6 {
  color: orange;
  font-style: italic;
  font-weight: normal;
  margin: 16px 0 10px;
}

/* Center paragraph */
.center {
  text-align: center;
}

/* Justify paragraph */
.justify {
  text-align: justify;
}

/* Image styling: heavy black border + yellow space */
img {
  border: 10px solid black;
  padding: 10px;
  background: yellow;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 12px 0;
}

/* Nav layout */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 14px;
}

