body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background: url("bg.jpg") repeat;
}

h1, h2, h3, h4, h5, h6 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 15px 0;
  border: 12px solid black;
  padding: 12px;
  background-color: yellow;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

nav li {
  display: inline;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
}


