nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    width: 200px;
    background-color: red;
}

nav li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    background-color: darkred;
}
