nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li a {
    display: block;
    background-color: red;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border: 1px solid black;
}

nav li a:hover {
    background-color: darkred;
}
