nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

nav li {
    margin-bottom: 5px;
}

nav li a {
    display: block;
    background-color: red;
    color: white;
    padding: 15px;
    text-decoration: none;
    border: 1px solid black;
}

nav li a:hover {
    background-color: darkred;
}
