nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

nav li {
  margin: 0;
  padding: 0;
  width: 150px;
}

nav li a {
  display: block;
  padding: 10px;
  border: 1px solid #000000;
  background-color: #cc0000;
  color: #ffffff;
  text-decoration: none;
}

nav li a:hover {
  background-color: #660000;
}
